In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [2]:
df = pd.read_csv('final4.csv')

In [6]:
df.head()

,Squad,Pl,Poss,MP,Gls,Ast,G-PK,PK,PKatt,CrdY,...,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Squad_code
0,ar Argentina,24.0,58.0,6.0,12.0,7.0,9.0,3.0,4.0,12.0,...,11.8,8.9,6.2,15.0,1.87,0.98,2.84,1.40,2.37,0
1,hr Croatia,18.0,55.0,6.0,6.0,6.0,6.0,0.0,0.0,8.0,...,6.4,6.4,5.0,11.4,0.95,0.75,1.71,0.95,1.71,15
2,fr France,24.0,52.2,6.0,13.0,11.0,13.0,0.0,0.0,5.0,...,11.6,11.6,9.7,21.2,1.93,1.61,3.54,1.93,3.54,13
3,ma Morocco,22.0,37.2,6.0,5.0,4.0,5.0,0.0,0.0,7.0,...,5.4,5.4,4.3,9.7,0.86,0.68,1.54,0.86,1.54,19
4,br Brazil,26.0,56.2,5.0,8.0,6.0,7.0,1.0,1.0,6.0,...,12.0,11.2,8.2,19.4,2.24,1.54,3.79,2.09,3.64,3

In [4]:
df = df.drop(columns=['Age', 'Starts', 'Min', '90s'])

In [5]:
df["Squad_code"] = df["Squad"].astype("category").cat.codes

In [7]:
df1 = df.copy()

In [8]:
df1 = df1.drop(columns=['Squad'])

In [9]:
goals = df1['Gls']

In [10]:
gls_gm = []

for index, row in df1.iterrows():
    gls = (row["Gls"]) 
    games = (row['MP'])
    gls_gm.append(gls/games)

In [11]:
df1['gls_gm'] = gls_gm

In [12]:
df1.head()

,Pl,Poss,MP,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,...,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Squad_code,gls_gm
0,24.0,58.0,6.0,12.0,7.0,9.0,3.0,4.0,12.0,0.0,...,8.9,6.2,15.0,1.87,0.98,2.84,1.40,2.37,0,2.000000
1,18.0,55.0,6.0,6.0,6.0,6.0,0.0,0.0,8.0,0.0,...,6.4,5.0,11.4,0.95,0.75,1.71,0.95,1.71,15,1.000000
2,24.0,52.2,6.0,13.0,11.0,13.0,0.0,0.0,5.0,0.0,...,11.6,9.7,21.2,1.93,1.61,3.54,1.93,3.54,13,2.166667
3,22.0,37.2,6.0,5.0,4.0,5.0,0.0,0.0,7.0,1.0,...,5.4,4.3,9.7,0.86,0.68,1.54,0.86,1.54,19,0.833333
4,26.0,56.2,5.0,8.0,6.0,7.0,1.0,1.0,6.0,0.0,...,11.2,8.2,19.4,2.24,1.54,3.79,2.09,3.64,3,1.600000

In [13]:
df1 = df1.drop(columns=['Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Pl'])

In [14]:
df1['poss'] = df1['Poss']

In [15]:
df1 = df1.drop(columns=['Poss'])

In [16]:
df1.head()

,MP,Gls.1,Ast.1,G+A,G-PK.1,G+A-PK,xG,npxG,xAG,npxG+xAG,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1,Squad_code,gls_gm,poss
0,6.0,1.89,1.11,3.00,1.42,2.53,11.8,8.9,6.2,15.0,1.87,0.98,2.84,1.40,2.37,0,2.000000,58.0
1,6.0,0.90,0.90,1.80,0.90,1.80,6.4,6.4,5.0,11.4,0.95,0.75,1.71,0.95,1.71,15,1.000000,55.0
2,6.0,2.17,1.83,4.00,2.17,4.00,11.6,11.6,9.7,21.2,1.93,1.61,3.54,1.93,3.54,13,2.166667,52.2
3,6.0,0.79,0.63,1.42,0.79,1.42,5.4,5.4,4.3,9.7,0.86,0.68,1.54,0.86,1.54,19,0.833333,37.2
4,5.0,1.50,1.13,2.62,1.31,2.44,12.0,11.2,8.2,19.4,2.24,1.54,3.79,2.09,3.64,3,1.600000,56.2

In [17]:
# df1.to_csv('final4.csv', index=False)