In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [83]:
df = pd.read_csv('wk12.csv')

In [84]:
df

,Wk,Time,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,dates,day_code
0,1,7:00 PM,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,2022-08-27,5
1,1,5:00 PM,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,2022-08-27,5
2,1,4:00 PM,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,2022-08-27,5
3,1,10:00 PM,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,2022-08-27,5
4,1,3:30 PM,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,2022-08-27,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,7:00 PM,(24) Washington,37,(6) Oregon,34,Washington,Oregon,6,24,88,210,1,24,6,2022-11-12,5
710,12,3:30 PM,Washington State,28,Arizona State,18,Washington State,Arizona State,99,99,126,11,0,99,99,2022-11-12,5
711,12,12:00 PM,West Virginia,23,Oklahoma,20,West Virginia,Oklahoma,99,99,127,143,0,99,99,2022-11-12,5
712,12,2:00 PM,Western Kentucky,45,Rice,10,Western Kentucky,Rice,99,99,128,153,0,99,99,2022-11-12,5
713,12,7:00 PM,Wyoming,14,Colorado State,13,Wyoming,Colorado State,99,99,26,221,1,99,99,2022-11-12,5

In [85]:
df.corr()

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
Wk,1.000000,-0.208604,0.095573,0.017492,-0.130902,0.003420,0.007694,0.130839,-0.016071,-0.101917,-0.057348
Pts,-0.208604,1.000000,0.162063,-0.119664,0.023002,0.045547,-0.037684,-0.122897,-0.132144,0.060833,0.033827
Pts.1,0.095573,0.162063,1.000000,0.011607,-0.141262,0.012935,-0.029074,0.116521,0.011447,-0.162179,-0.007105
home_rank,0.017492,-0.119664,0.011607,1.000000,0.170917,-0.091350,-0.029777,0.175779,0.751744,0.427580,-0.091570
away_rank,-0.130902,0.023002,-0.141262,0.170917,1.000000,-0.033110,-0.036549,-0.132347,0.543810,0.590066,-0.066931
home_team_code,0.003420,0.045547,0.012935,-0.091350,-0.033110,1.000000,0.004461,-0.035658,-0.070783,-0.063356,0.038084
away_team_code,0.007694,-0.037684,-0.029074,-0.029777,-0.036549,0.004461,1.000000,0.162338,-0.052671,-0.061501,0.043094
home_results,0.130839,-0.122897,0.116521,0.175779,-0.132347,-0.035658,0.162338,1.000000,-0.003972,-0.060757,0.020464
win_rank,-0.016071,-0.132144,0.011447,0.751744,0.543810,-0.070783,-0.052671,-0.003972,1.000000,0.229245,-0.083272
lose_rank,-0.101917,0.060833,-0.162179,0.427580,0.590066,-0.063356,-0.061501,-0.060757,0.229245,1.000000,-0.089608
day_code,-0.057348,0.033827,-0.007105,-0.091570,-0.066931,0.038084,0.043094,0.020464,-0.083272,-0.089608,1.000000

In [86]:
df.cov()

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
Wk,11.041278,-8.572065,3.296950,2.015235,-13.111212,0.432995,1.663724,0.253499,-2.017463,-8.710392,-0.127052
Pts,-8.572065,152.934600,20.806711,-51.309428,8.574340,21.460488,-30.326352,-0.886183,-61.740050,19.349653,0.278914
Pts.1,3.296950,20.806711,107.778765,4.178152,-44.205818,5.116172,-19.642138,0.705342,4.489956,-43.305304,-0.049183
home_rank,2.015235,-51.309428,4.178152,1202.153492,178.629309,-120.673581,-67.185675,3.553683,984.725844,381.309329,-2.116857
away_rank,-13.111212,8.574340,-44.205818,178.629309,908.602520,-38.024491,-71.692635,-2.326116,619.298632,457.475397,-1.345151
home_team_code,0.432995,21.460488,5.116172,-120.673581,-38.024491,1451.597638,11.059324,-0.792153,-101.886722,-62.085709,0.967447
away_team_code,1.663724,-30.326352,-19.642138,-67.185675,-71.692635,11.059324,4234.776568,6.159811,-129.495928,-102.939143,1.869789
home_results,0.253499,-0.886183,0.705342,3.553683,-2.326116,-0.792153,6.159811,0.339986,-0.087503,-0.911191,0.007955
win_rank,-2.017463,-61.740050,4.489956,984.725844,619.298632,-101.886722,-129.495928,-0.087503,1427.352686,222.764686,-2.097587
lose_rank,-8.710392,19.349653,-43.305304,381.309329,457.475397,-62.085709,-102.939143,-0.911191,222.764686,661.545780,-1.536684
day_code,-0.127052,0.278914,-0.049183,-2.116857,-1.345151,0.967447,1.869789,0.007955,-2.097587,-1.536684,0.444541

In [89]:
covar = df.cov()
covar.style.background_gradient(cmap='coolwarm')

In [65]:
df = df.drop(columns=['Time', 'Winner', 'Loser', 'dates'])

In [66]:
df

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5
1,1,47,7,Florida State,Duquesne,99,99,34,49,0,99,99,5
2,1,38,6,Illinois,Wyoming,99,99,42,221,0,99,99,5
3,1,23,12,Nevada,New Mexico State,99,99,76,121,1,99,99,5
4,1,52,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,37,34,Washington,Oregon,6,24,88,210,1,24,6,5
710,12,28,18,Washington State,Arizona State,99,99,126,11,0,99,99,5
711,12,23,20,West Virginia,Oklahoma,99,99,127,143,0,99,99,5
712,12,45,10,Western Kentucky,Rice,99,99,128,153,0,99,99,5
713,12,14,13,Wyoming,Colorado State,99,99,26,221,1,99,99,5

In [67]:
df[df['winners'] == 'Oregon']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
144,3,70,14,Oregon,Eastern Washington,99,99,88,54,0,99,99,5
222,4,41,20,Oregon,Brigham Young,25,12,88,24,0,25,12,5
291,5,44,41,Oregon,Washington State,99,15,126,146,1,15,99,5
359,6,45,27,Oregon,Stanford,13,99,88,177,0,13,99,5
414,7,49,22,Oregon,Arizona,99,12,5,146,1,12,99,5
520,9,45,30,Oregon,UCLA,10,9,88,200,0,10,9,5
579,10,42,24,Oregon,California,99,8,18,146,1,8,99,5
628,11,49,10,Oregon,Colorado,99,8,25,146,1,8,99,5

In [68]:
df[df['winners'] == 'Utah']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
168,3,73,7,Utah,Southern Utah,13,99,119,175,0,13,99,5
238,4,35,7,Utah,San Diego State,14,99,119,160,0,14,99,5
311,5,34,13,Utah,Arizona State,99,13,6,201,1,13,99,5
372,6,42,16,Utah,Oregon State,12,99,119,147,0,12,99,5
483,8,43,42,Utah,Southern California,20,7,119,171,0,20,7,5
543,10,21,17,Utah,Washington State,99,14,126,201,1,14,99,3
644,11,45,20,Utah,Arizona,12,99,119,10,0,12,99,5
706,12,42,7,Utah,Stanford,13,99,119,177,0,13,99,5

In [69]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as se
import warnings
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
warnings.filterwarnings('ignore')
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectKBest,f_regression,f_classif
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.ensemble import GradientBoostingRegressor

In [70]:
df.head()

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5
1,1,47,7,Florida State,Duquesne,99,99,34,49,0,99,99,5
2,1,38,6,Illinois,Wyoming,99,99,42,221,0,99,99,5
3,1,23,12,Nevada,New Mexico State,99,99,76,121,1,99,99,5
4,1,52,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,5

In [71]:
X = df.drop(columns=['winners', 'losers', 'Pts.1'])

In [72]:
y = df['Pts.1']

In [73]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

In [74]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [75]:
regr = RandomForestRegressor(max_depth=50000, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=50000, random_state=0)

In [76]:
test_pred = regr.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

RMSE: 10.476451749458938
R Squared: -0.06409468924887585
MSE TEST: 109.75604125874126
MAE TEST: 8.266923076923074
MAPE: 3347150827950604.0

In [77]:
df[df['winners'] == 'Southern California']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
76,2,66,14,Southern California,Rice,14,99,100,153,0,14,99,5
153,3,41,28,Southern California,Stanford,99,10,103,171,1,10,99,5
228,4,45,17,Southern California,Fresno State,7,99,100,62,0,7,99,5
300,5,17,14,Southern California,Oregon State,99,7,89,171,1,7,99,5
365,6,42,25,Southern California,Arizona State,6,99,100,11,0,6,99,5
420,7,30,14,Southern California,Washington State,6,99,100,211,0,6,99,5
582,10,45,37,Southern California,Arizona,99,10,5,171,1,10,99,5
635,11,41,35,Southern California,California,9,99,100,29,0,9,99,5
659,12,55,17,Southern California,Colorado,8,99,100,44,0,8,99,4

utah 10 at oregeon 12
utah away code = 201
oregon home code = 146

In [78]:
df[df['winners'] == 'UCLA']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
84,2,45,17,UCLA,Bowling Green,99,99,118,23,0,99,99,5
167,3,45,7,UCLA,Alabama State,99,99,118,5,0,99,99,5
237,4,32,31,UCLA,South Alabama,99,99,118,162,0,99,99,5
310,5,45,17,UCLA,Colorado,99,99,25,200,1,99,99,5
320,6,40,32,UCLA,Washington,99,15,118,210,0,99,15,4
429,7,42,32,UCLA,Utah,18,11,118,201,0,18,11,5
587,10,38,13,UCLA,Stanford,12,99,118,177,0,12,99,5
643,11,50,36,UCLA,Arizona State,99,10,6,200,1,10,99,5

In [79]:
X.head()

,Wk,Pts,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,99,99,32,37,0,99,99,5
1,1,47,99,99,34,49,0,99,99,5
2,1,38,99,99,42,221,0,99,99,5
3,1,23,99,99,76,121,1,99,99,5
4,1,52,99,99,74,76,0,99,99,5

USC away team = 171 / rank 7

UCLA home team = 118 / rank 16

In [80]:
sc = [[13, 42, 16, 7, 118, 171, 1, 7, 16, 5]]
usc = pd.DataFrame(sc, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
                                'home_team_code', 'away_team_code', 'home_results', 
                               'win_rank', 'lose_rank', 'day_code'])
usc

# sc = [[13, 16, 7, 118, 171, 5]]
# usc = pd.DataFrame(sc, columns=['Wk', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 'day_code'])
# usc

,Wk,Pts,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,13,42,16,7,118,171,1,7,16,5

In [81]:
test_pred = regr.predict(usc)
test_pred

array([31.27])

## USC wins 0.64

#### USC 42.08 - UCLA 31.27

## Oddshark prediction
#### USC   43.8 - UCLA 40.6

#### USC spread -2.5
-------

# oregon wins 0.45

## Oregon 40.6 - Utah 31.27

## Oddshark prediction 
oregon 41.2 -  Utah 36.8

spread is oregon -3
over/under is 61.5

###  R-Squared reading can be much higher, such as 0.9 or above. In finance, an R-Squared above 0.7 would generally be seen as showing a high level of correlation, whereas a measure below 0.4 would show a low correlation.

### The lower the MAE score the better. This is because MAE is a measure of the average error between the predictions and intended targets, thus we want to minimise this value.

### The lower the MSE value there more accurate the model is.