In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [2]:
df = pd.read_csv('encoded_df.csv')

In [3]:
df.head()

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,hours,null,half,quart,three_quart
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5,19,1,0,0,0
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,5,17,1,0,0,0
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,5,16,1,0,0,0
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,5,22,1,0,0,0
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,5,15,0,1,0,0

In [4]:
df = df.drop(columns=['Winner', 'Loser', 'hours', 'null', 'half', 'quart', 'three_quart'])

In [5]:
df[df['winners'] == 'Oregon']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
144,3,70,14,Oregon,Eastern Washington,99,99,88,54,0,99,99,5
222,4,41,20,Oregon,Brigham Young,25,12,88,24,0,25,12,5
291,5,44,41,Oregon,Washington State,99,15,126,146,1,15,99,5
359,6,45,27,Oregon,Stanford,13,99,88,177,0,13,99,5
414,7,49,22,Oregon,Arizona,99,12,5,146,1,12,99,5
520,9,45,30,Oregon,UCLA,10,9,88,200,0,10,9,5
579,10,42,24,Oregon,California,99,8,18,146,1,8,99,5
628,11,49,10,Oregon,Colorado,99,8,25,146,1,8,99,5

In [6]:
df[df['winners'] == 'Utah']

,Wk,Pts,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
168,3,73,7,Utah,Southern Utah,13,99,119,175,0,13,99,5
238,4,35,7,Utah,San Diego State,14,99,119,160,0,14,99,5
311,5,34,13,Utah,Arizona State,99,13,6,201,1,13,99,5
372,6,42,16,Utah,Oregon State,12,99,119,147,0,12,99,5
483,8,43,42,Utah,Southern California,20,7,119,171,0,20,7,5
543,10,21,17,Utah,Washington State,99,14,126,201,1,14,99,3
644,11,45,20,Utah,Arizona,12,99,119,10,0,12,99,5
706,12,42,7,Utah,Stanford,13,99,119,177,0,13,99,5

In [7]:
X = df.drop(columns=['winners', 'losers', 'Pts.1'])

In [8]:
y = df['Pts.1']

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=123)

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [11]:
regr = RandomForestRegressor(max_depth=50000, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=50000, random_state=0)

In [12]:
test_pred = regr.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

RMSE: 10.476451749458938
R Squared: -0.06409468924887585
MSE TEST: 109.75604125874126
MAE TEST: 8.266923076923074
MAPE: 3347150827950604.0

In [13]:
X

,Wk,Pts,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,99,99,32,37,0,99,99,5
1,1,47,99,99,34,49,0,99,99,5
2,1,38,99,99,42,221,0,99,99,5
3,1,23,99,99,76,121,1,99,99,5
4,1,52,99,99,74,76,0,99,99,5
...,...,...,...,...,...,...,...,...,...,...
709,12,37,6,24,88,210,1,24,6,5
710,12,28,99,99,126,11,0,99,99,5
711,12,23,99,99,127,143,0,99,99,5
712,12,45,99,99,128,153,0,99,99,5
713,12,14,99,99,26,221,1,99,99,5

In [14]:
# og = [[13, 39, 12, 10, 146, 201, 0, 12, 110, 5, 10]]
# uo = pd.DataFrame(og, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 'home_results', 
#                                'win_rank', 'lose_rank', 'day_code', 'hours'])
# uo

og = [[13, 40, 12, 10, 146, 201, 0, 12, 110, 5]]
uo = pd.DataFrame(og, columns=['Wk', 'Pts', 'home_rank', 'away_rank',
                                'home_team_code', 'away_team_code', 'home_results', 
                               'win_rank', 'lose_rank', 'day_code'])
uo

# oregon home code = 146 - 12

# utah away code = 201 - 10

# sc = [[13, 16, 7, 118, 171, 5]]
# usc = pd.DataFrame(sc, columns=['Wk', 'home_rank', 'away_rank',
#                                 'home_team_code', 'away_team_code', 'day_code'])
# usc

,Wk,Pts,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,13,40,12,10,146,201,0,12,110,5

In [15]:
test_pred = regr.predict(uo)
test_pred

array([21.32])

In [16]:
# with minutes and hours
# oregon 37.72
# utah 20.38

In [17]:
# with hours and not minutes
# oregon 38.72 
# urtah 21.12

In [18]:
# with ouliers and hours but without minutes
# oregon 38.83
# Utah 24.15

# with outliers and without hours
# Oregon 40.49
# Utah 21.12