In [1]:
import numpy as np
import pandas as pd
from numpy import mean
from numpy import std
import statistics

In [2]:
df = pd.read_csv('wk12.csv')

In [3]:
df

,Wk,Time,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,dates,day_code
0,1,7:00 PM,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,2022-08-27,5
1,1,5:00 PM,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,2022-08-27,5
2,1,4:00 PM,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,2022-08-27,5
3,1,10:00 PM,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,2022-08-27,5
4,1,3:30 PM,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,2022-08-27,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,7:00 PM,(24) Washington,37,(6) Oregon,34,Washington,Oregon,6,24,88,210,1,24,6,2022-11-12,5
710,12,3:30 PM,Washington State,28,Arizona State,18,Washington State,Arizona State,99,99,126,11,0,99,99,2022-11-12,5
711,12,12:00 PM,West Virginia,23,Oklahoma,20,West Virginia,Oklahoma,99,99,127,143,0,99,99,2022-11-12,5
712,12,2:00 PM,Western Kentucky,45,Rice,10,Western Kentucky,Rice,99,99,128,153,0,99,99,2022-11-12,5
713,12,7:00 PM,Wyoming,14,Colorado State,13,Wyoming,Colorado State,99,99,26,221,1,99,99,2022-11-12,5

In [4]:
df.shape

(714, 17)

In [5]:
df['Time'].value_counts()

3:30 PM     130
12:00 PM    116
7:00 PM     102
7:30 PM      86
8:00 PM      54
4:00 PM      47
10:30 PM     28
6:00 PM      27
2:00 PM      25
5:00 PM      13
3:00 PM      10
1:00 PM      10
9:00 PM       9
11:00 PM      7
2:30 PM       7
12:30 PM      7
9:30 PM       6
10:00 PM      6
5:30 PM       5
12:00 AM      3
10:15 PM      2
8:30 PM       2
1:30 PM       2
9:45 PM       2
11:00 AM      1
10:45 PM      1
11:59 PM      1
6:30 PM       1
11:30 AM      1
3:35 PM       1
Name: Time, dtype: int64

In [6]:
times = df['Time']

In [7]:
nums = []

for i in times:
    i = str(i)
    nums.append(i[:-2])

In [8]:
nums

['7:00 ',
 '5:00 ',
 '4:00 ',
 '10:00 ',
 '3:30 ',
 '8:00 ',
 '9:00 ',
 '12:30 ',
 '4:00 ',
 '10:30 ',
 '12:00 ',
 '6:00 ',
 '8:00 ',
 '10:00 ',
 '7:00 ',
 '7:00 ',
 '10:30 ',
 '9:00 ',
 '8:00 ',
 '8:00 ',
 '7:00 ',
 '8:00 ',
 '7:00 ',
 '10:30 ',
 '7:00 ',
 '7:00 ',
 '7:30 ',
 '7:30 ',
 '7:00 ',
 '8:00 ',
 '8:00 ',
 '7:00 ',
 '7:00 ',
 '10:00 ',
 '7:00 ',
 '1:00 ',
 '7:30 ',
 '3:30 ',
 '3:30 ',
 '7:00 ',
 '7:00 ',
 '7:00 ',
 '4:00 ',
 '4:00 ',
 '7:00 ',
 '12:00 ',
 '12:00 ',
 '7:00 ',
 '3:30 ',
 '6:00 ',
 '3:30 ',
 '12:00 ',
 '2:00 ',
 '6:00 ',
 '7:00 ',
 '7:00 ',
 '7:00 ',
 '7:00 ',
 '3:30 ',
 '12:00 ',
 '3:30 ',
 '12:00 ',
 '4:00 ',
 '7:30 ',
 '3:30 ',
 '5:30 ',
 '8:00 ',
 '12:00 ',
 '12:00 ',
 '6:00 ',
 '7:30 ',
 '3:30 ',
 '10:30 ',
 '12:00 ',
 '5:00 ',
 '7:30 ',
 '6:00 ',
 '7:30 ',
 '8:00 ',
 '8:00 ',
 '8:00 ',
 '12:00 ',
 '8:00 ',
 '7:00 ',
 '2:30 ',
 '7:00 ',
 '12:30 ',
 '10:30 ',
 '9:30 ',
 '7:00 ',
 '3:30 ',
 '7:30 ',
 '12:00 ',
 '8:00 ',
 '9:00 ',
 '7:30 ',
 '3:30 ',
 '12:00 ',
 '3:30 ',
 '12:00 ',
 '7:30 ',
 '10:15 ',
 '4:00 ',
 '3:30 ',
 '3:30 ',
 '6:00 ',
 '12:00 ',
 '6:00 ',
 '4:00 ',
 '6:00 ',
 '4:00 ',
 '7:30 ',
 '7:00 ',
 '6:00 ',
 '4:00 ',
 '5:30 ',
 '8:00 ',
 '4:00 ',
 '4:00 ',
 '6:00 ',
 '12:00 ',
 '7:00 ',
 '6:00 ',
 'n',
 '7:30 ',
 '7:00 ',
 '8:00 ',
 '2:30 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '6:00 ',
 '8:00 ',
 '4:00 ',
 '4:00 ',
 '12:00 ',
 'n',
 '11:00 ',
 '12:00 ',
 '12:30 ',
 '7:30 ',
 '12:00 ',
 '7:00 ',
 '7:30 ',
 '8:30 ',
 '10:30 ',
 '12:00 ',
 '4:00 ',
 '7:30 ',
 '4:00 ',
 '8:00 ',
 '1:00 ',
 '7:00 ',
 '7:30 ',
 '7:00 ',
 '7:00 ',
 '2:00 ',
 '3:30 ',
 '8:00 ',
 '7:00 ',
 '4:00 ',
 '9:00 ',
 '12:00 ',
 '7:00 ',
 '8:00 ',
 '7:00 ',
 '7:00 ',
 '5:00 ',
 '1:30 ',
 '8:00 ',
 '12:00 ',
 '4:00 ',
 '3:30 ',
 '7:00 ',
 '2:00 ',
 '4:00 ',
 '7:30 ',
 '8:00 ',
 '4:00 ',
 '3:30 ',
 '3:30 ',
 '11:00 ',
 '7:00 ',
 '12:00 ',
 '2:00 ',
 '12:00 ',
 '4:00 ',
 '7:30 ',
 '5:00 ',
 '7:30 ',
 '1:00 ',
 '7:00 ',
 '12:00 ',
 '8:00 ',
 '1:00 ',
 '6:00 ',
 '6:00 ',
 '11:00 ',
 '7:30 ',
 '12:00 ',
 '12:00 ',
 '7:30 ',
 '2:00 ',
 '4:00 ',
 '12:00 ',
 '12:00 ',
 '6:00 ',
 '7:30 ',
 '3:30 ',
 '7:00 ',
 '12:00 ',
 '7:00 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '3:00 ',
 '8:00 ',
 '7:00 ',
 '2:30 ',
 '7:00 ',
 '12:00 ',
 '7:00 ',
 '3:30 ',
 '8:00 ',
 '3:30 ',
 '7:30 ',
 '7:30 ',
 '2:00 ',
 '10:30 ',
 '12:00 ',
 '7:00 ',
 '12:00 ',
 '7:00 ',
 '8:00 ',
 '9:00 ',
 '3:00 ',
 '7:00 ',
 '2:00 ',
 '10:00 ',
 '3:30 ',
 '2:00 ',
 '11:00 ',
 '5:00 ',
 '7:30 ',
 '5:00 ',
 '1:00 ',
 '3:30 ',
 '12:00 ',
 '7:30 ',
 '8:30 ',
 '7:30 ',
 '8:00 ',
 '7:00 ',
 '9:00 ',
 '7:30 ',
 '12:00 ',
 '12:00 ',
 '10:15 ',
 '12:00 ',
 '5:30 ',
 '4:00 ',
 '3:30 ',
 '12:00 ',
 '8:00 ',
 '12:00 ',
 '6:00 ',
 '6:00 ',
 '7:00 ',
 '3:30 ',
 '12:00 ',
 '8:00 ',
 '7:00 ',
 '6:00 ',
 '7:30 ',
 '8:00 ',
 '12:00 ',
 '3:30 ',
 '7:30 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '4:00 ',
 '12:00 ',
 '6:00 ',
 '7:00 ',
 '8:00 ',
 '7:30 ',
 '3:30 ',
 '2:00 ',
 '7:30 ',
 '6:00 ',
 '4:00 ',
 '12:00 ',
 '12:00 ',
 '7:30 ',
 '4:00 ',
 '3:30 ',
 '10:30 ',
 '7:00 ',
 '7:30 ',
 '9:30 ',
 '7:00 ',
 '2:00 ',
 '3:30 ',
 '7:00 ',
 '12:00 ',
 '7:00 ',
 '3:30 ',
 '3:30 ',
 '7:00 ',
 '2:00 ',
 '10:30 ',
 '10:30 ',
 '3:30 ',
 '8:00 ',
 '7:00 ',
 '8:00 ',
 '11:00 ',
 '7:30 ',
 '7:00 ',
 '10:30 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '9:30 ',
 '7:00 ',
 '2:00 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '7:00 ',
 '7:30 ',
 '7:00 ',
 '3:30 ',
 '7:30 ',
 '2:30 ',
 '2:00 ',
 '8:00 ',
 '7:30 ',
 '12:00 ',
 '8:00 ',
 '12:00 ',
 '1:30 ',
 '3:30 ',
 '12:00 ',
 '3:30 ',
 '6:00 ',
 '7:00 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '12:00 ',
 '12:00 ',
 '4:00 ',
 '7:30 ',
 '3:30 ',
 '4:00 ',
 '3:30 ',
 '3:30 ',
 '11:00 ',
 '3:30 ',
 '12:00 ',
 '7:30 ',
 '7:30 ',
 '5:00 ',
 '10:30 ',
 '5:00 ',
 '7:30 ',
 '12:00 ',
 '6:00 ',
 '3:30 ',
 '7:00 ',
 '2:00 ',
 '3:30 ',
 '5:30 ',
 '6:00 ',
 '12:00 ',
 '7:00 ',
 '10:30 ',
 '7:30 ',
 '7:00 ',
 '10:30 ',
 '8:00 ',
 '3:30 ',
 '4:00 ',
 '3:30 ',
 '9:45 ',
 '12:00 ',
 '2:30 ',
 '7:30 ',
 '8:00 ',
 '7:00 ',
 '12:00 ',
 '12:00 ',
 '3:30 ',
 '2:00 ',
 '4:00 ',
 '7:30 ',
 '7:00 ',
 '7:30 ',
 '3:30 ',
 '7:00 ',
 '12:00 ',
 '3:30 ',
 '12:00 ',
 '4:00 ',
 '12:00 ',
 '3:30 ',
 '4:00 ',
 '8:00 ',
 '7:30 ',
 '2:00 ',
 '4:00 ',
 '3:30 ',
 '8:00 ',
 '11:00 ',
 '3:30 ',
 '12:00 ',
 '10:30 ',
 '7:30 ',
 '7:30 ',
 '12:00 ',
 '12:00 ',
 '12:00 ',
 '7:00 ',
 '6:00 ',
 '3:30 ',
 '7:00 ',
 '3:30 ',
 '3:30 ',
 '7:00 ',
 '7:30 ',
 '3:30 ',
 '7:00 ',
 '7:30 ',
 '7:00 ',
 '7:00 ',
 '7:30 ',
 '8:00 ',
 '9:30 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '2:00 ',
 '12:00 ',
 '1:00 ',
 '12:00 ',
 '7:30 ',
 '2:00 ',
 '7:30 ',
 '6:00 ',
 '10:45 ',
 '3:30 ',
 '4:00 ',
 '11:59 ',
 '12:00 ',
 '7:30 ',
 '3:30 ',
 '7:00 ',
 '3:30 ',
 '12:30 ',
 '12:00 ',
 '4:00 ',
 '12:00 ',
 '8:00 ',
 '8:00 ',
 '4:00 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '12:00 ',
 '9:00 ',
 '7:30 ',
 '8:00 ',
 '7:00 ',
 '7:30 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '4:00 ',
 '8:00 ',
 '7:00 ',
 '5:30 ',
 '3:30 ',
 '7:30 ',
 '7:30 ',
 '7:30 ',
 '7:30 ',
 '8:00 ',
 '7:00 ',
 '12:00 ',
 '12:00 ',
 '7:00 ',
 '1:00 ',
 '1:00 ',
 '12:00 ',
 '12:00 ',
 '4:00 ',
 '12:30 ',
 '7:30 ',
 '2:00 ',
 '3:30 ',
 '6:30 ',
 '3:30 ',
 '12:00 ',
 '12:00 ',
 '3:30 ',
 '5:00 ',
 '3:30 ',
 '8:00 ',
 '3:30 ',
 '3:30 ',
 '4:00 ',
 '2:30 ',
 '2:00 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '8:00 ',
 '7:30 ',
 '3:00 ',
 '12:00 ',
 '10:30 ',
 '6:00 ',
 '7:30 ',
 '5:00 ',
 '4:00 ',
 '12:00 ',
 '8:00 ',
 '3:00 ',
 '4:00 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '10:30 ',
 '3:30 ',
 '3:30 ',
 '9:45 ',
 '7:30 ',
 '7:30 ',
 '10:00 ',
 '8:00 ',
 '8:00 ',
 '3:30 ',
 '7:30 ',
 '12:00 ',
 '7:30 ',
 '7:00 ',
 '3:30 ',
 '2:00 ',
 '7:00 ',
 '12:00 ',
 '7:00 ',
 '12:00 ',
 '10:30 ',
 '3:30 ',
 '3:00 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '12:30 ',
 '12:00 ',
 '7:30 ',
 '9:00 ',
 '2:30 ',
 '7:30 ',
 '4:00 ',
 '3:30 ',
 '3:30 ',
 '8:00 ',
 '3:30 ',
 '12:00 ',
 '12:00 ',
 '12:00 ',
 '3:30 ',
 '10:30 ',
 '4:00 ',
 '6:00 ',
 '3:30 ',
 '7:00 ',
 '12:00 ',
 '12:00 ',
 '10:30 ',
 '12:00 ',
 '7:00 ',
 '7:30 ',
 '7:00 ',
 '7:00 ',
 '7:30 ',
 '7:00 ',
 '7:00 ',
 '7:00 ',
 '10:30 ',
 '11:30 ',
 '3:00 ',
 '7:00 ',
 '3:30 ',
 '4:00 ',
 '12:00 ',
 '7:30 ',
 '10:30 ',
 '3:30 ',
 '3:00 ',
 '12:30 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '4:00 ',
 '7:00 ',
 '3:00 ',
 '5:00 ',
 '7:30 ',
 '2:00 ',
 '7:30 ',
 '3:30 ',
 '12:00 ',
 '7:30 ',
 '12:00 ',
 '8:00 ',
 '4:00 ',
 '7:30 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '7:00 ',
 '10:30 ',
 '4:00 ',
 '7:30 ',
 '10:30 ',
 '7:00 ',
 '2:00 ',
 '7:00 ',
 '12:00 ',
 '3:30 ',
 '5:00 ',
 '12:00 ',
 '9:30 ',
 '7:30 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '12:00 ',
 '7:00 ',
 '7:30 ',
 '8:00 ',
 '7:00 ',
 '7:00 ',
 '7:00 ',
 '7:30 ',
 '7:30 ',
 '8:00 ',
 '10:30 ',
 '9:30 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '10:30 ',
 '3:00 ',
 '7:30 ',
 '10:30 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '7:30 ',
 '12:00 ',
 '12:00 ',
 '4:00 ',
 '7:00 ',
 '8:00 ',
 '7:00 ',
 '3:00 ',
 '3:35 ',
 '1:00 ',
 '7:00 ',
 '12:00 ',
 '1:00 ',
 '3:30 ',
 '3:30 ',
 '3:30 ',
 '12:00 ',
 '3:30 ',
 '3:30 ',
 '2:00 ',
 '7:30 ',
 '12:00 ',
 '12:00 ',
 '3:30 ',
 '9:00 ',
 '3:30 ',
 '12:00 ',
 '12:00 ',
 '10:30 ',
 '5:00 ',
 '12:00 ',
 '12:00 ',
 '7:30 ',
 '7:00 ',
 '3:30 ',
 '3:30 ',
 '10:00 ',
 '11:00 ',
 '12:00 ',
 '7:00 ',
 '3:30 ',
 '12:00 ',
 '2:00 ',
 '7:00 ']

In [9]:
hours = []
mins = []

for i in nums:
    if(len(i) == 5):
        hours.append(i[0])
        mins.append(i[2:4])        
    else:
        hours.append(i[0:2])
        mins.append(i[3:5])

In [10]:
len(hours)

714

In [11]:
len(mins)

714

In [12]:
df.shape

(714, 17)

In [13]:
df['hour'] = hours

In [14]:
df['minutes'] = mins

In [15]:
df

,Wk,Time,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,dates,day_code,hour,minutes
0,1,7:00 PM,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,2022-08-27,5,7,00
1,1,5:00 PM,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,2022-08-27,5,5,00
2,1,4:00 PM,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,2022-08-27,5,4,00
3,1,10:00 PM,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,2022-08-27,5,10,00
4,1,3:30 PM,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,2022-08-27,5,3,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,7:00 PM,(24) Washington,37,(6) Oregon,34,Washington,Oregon,6,24,88,210,1,24,6,2022-11-12,5,7,00
710,12,3:30 PM,Washington State,28,Arizona State,18,Washington State,Arizona State,99,99,126,11,0,99,99,2022-11-12,5,3,30
711,12,12:00 PM,West Virginia,23,Oklahoma,20,West Virginia,Oklahoma,99,99,127,143,0,99,99,2022-11-12,5,12,00
712,12,2:00 PM,Western Kentucky,45,Rice,10,Western Kentucky,Rice,99,99,128,153,0,99,99,2022-11-12,5,2,00
713,12,7:00 PM,Wyoming,14,Colorado State,13,Wyoming,Colorado State,99,99,26,221,1,99,99,2022-11-12,5,7,00

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Wk              714 non-null    int64
 1   Time            712 non-null    object
 2   Winner          714 non-null    object
 3   Pts             714 non-null    int64
 4   Loser           714 non-null    object
 5   Pts.1           714 non-null    int64
 6   winners         714 non-null    object
 7   losers          714 non-null    object
 8   home_rank       714 non-null    int64
 9   away_rank       714 non-null    int64
 10  home_team_code  714 non-null    int64
 11  away_team_code  714 non-null    int64
 12  home_results    714 non-null    int64
 13  win_rank        714 non-null    int64
 14  lose_rank       714 non-null    int64
 15  dates           714 non-null    object
 16  day_code        714 non-null    int64
 17  hour            714 non-null    object
 18  minutes         714 non-null    object
dtypes: int64(11), object(8)
memory usage: 106.1+ KB

In [17]:
new_hour= []
for index, row in df.iterrows():
    if(row['hour'] == 'n'):
        new_hour.append(5)
    else:
        new_hour.append(row['hour'])

In [18]:
df['hours'] = new_hour

In [19]:
df['hours'].value_counts()

7     188
3     141
12    126
8      56
4      47
10     37
2      32
6      28
5      18
9      17
1      12
11     10
5       2
Name: hours, dtype: int64

In [20]:
hour = (df['hours'])
hours = []

for x in hour:
    if (x == '12'):
        hours.append('12')
    elif(x == '1'):
        hours.append('13')
    elif(x == '2'):
        hours.append('14')
    elif(x == '3'):
        hours.append('15')
    elif(x == '4'):
        hours.append('16')
    elif(x == '5'):
        hours.append('17')
    elif(x == '6'):
        hours.append('18')
    elif(x == '7'):
        hours.append('19')
    elif(x == '8'):
        hours.append('20')
    elif(x == '9'):
        hours.append('21')
    elif(x == '10'):
        hours.append('22')
    elif(x == '11'):
        hours.append('11')
    else:
        hours.append('5')

In [21]:
len(hours)

714

In [22]:
df['hours'] = hours

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Wk              714 non-null    int64
 1   Time            712 non-null    object
 2   Winner          714 non-null    object
 3   Pts             714 non-null    int64
 4   Loser           714 non-null    object
 5   Pts.1           714 non-null    int64
 6   winners         714 non-null    object
 7   losers          714 non-null    object
 8   home_rank       714 non-null    int64
 9   away_rank       714 non-null    int64
 10  home_team_code  714 non-null    int64
 11  away_team_code  714 non-null    int64
 12  home_results    714 non-null    int64
 13  win_rank        714 non-null    int64
 14  lose_rank       714 non-null    int64
 15  dates           714 non-null    object
 16  day_code        714 non-null    int64
 17  hour            714 non-null    object
 18  minutes         714 non-null    object
 19  hours           714 non-null    object
dtypes: int64(11), object(9)
memory usage: 111.7+ KB

In [24]:
df['minutes'].value_counts()

00    430
30    275
45      3
15      2
        2
59      1
35      1
Name: minutes, dtype: int64

In [25]:
mins = df['minutes']
minute = []

for i in mins:
    if(i == '00'):
        minute.append('00')
    elif(i == '30'):
        minute.append('30')
    elif(i == '45'):
        minute.append('45')
    elif(i == '15'):
        minute.append('15')
    elif(i == '59'):
        minute.append('00')
    elif(i == '35'):
        minute.append('30')
    else:
        minute.append('00')

In [26]:
df['minutes'] = minute

In [27]:
df['hours'].value_counts()

19    188
15    141
12    126
20     56
16     47
22     37
14     32
18     28
17     18
21     17
13     12
11     10
5       2
Name: hours, dtype: int64

In [28]:
df = df.drop(columns=['hour', 'Time'])

In [29]:
df

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,dates,day_code,minutes,hours
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,2022-08-27,5,00,19
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,2022-08-27,5,00,17
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,2022-08-27,5,00,16
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,2022-08-27,5,00,22
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,2022-08-27,5,30,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,(24) Washington,37,(6) Oregon,34,Washington,Oregon,6,24,88,210,1,24,6,2022-11-12,5,00,19
710,12,Washington State,28,Arizona State,18,Washington State,Arizona State,99,99,126,11,0,99,99,2022-11-12,5,30,15
711,12,West Virginia,23,Oklahoma,20,West Virginia,Oklahoma,99,99,127,143,0,99,99,2022-11-12,5,00,12
712,12,Western Kentucky,45,Rice,10,Western Kentucky,Rice,99,99,128,153,0,99,99,2022-11-12,5,00,14
713,12,Wyoming,14,Colorado State,13,Wyoming,Colorado State,99,99,26,221,1,99,99,2022-11-12,5,00,19

In [30]:
df = df.drop(columns=['dates'])

In [31]:
df.cov()

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
Wk,11.041278,-8.572065,3.296950,2.015235,-13.111212,0.432995,1.663724,0.253499,-2.017463,-8.710392,-0.127052
Pts,-8.572065,152.934600,20.806711,-51.309428,8.574340,21.460488,-30.326352,-0.886183,-61.740050,19.349653,0.278914
Pts.1,3.296950,20.806711,107.778765,4.178152,-44.205818,5.116172,-19.642138,0.705342,4.489956,-43.305304,-0.049183
home_rank,2.015235,-51.309428,4.178152,1202.153492,178.629309,-120.673581,-67.185675,3.553683,984.725844,381.309329,-2.116857
away_rank,-13.111212,8.574340,-44.205818,178.629309,908.602520,-38.024491,-71.692635,-2.326116,619.298632,457.475397,-1.345151
home_team_code,0.432995,21.460488,5.116172,-120.673581,-38.024491,1451.597638,11.059324,-0.792153,-101.886722,-62.085709,0.967447
away_team_code,1.663724,-30.326352,-19.642138,-67.185675,-71.692635,11.059324,4234.776568,6.159811,-129.495928,-102.939143,1.869789
home_results,0.253499,-0.886183,0.705342,3.553683,-2.326116,-0.792153,6.159811,0.339986,-0.087503,-0.911191,0.007955
win_rank,-2.017463,-61.740050,4.489956,984.725844,619.298632,-101.886722,-129.495928,-0.087503,1427.352686,222.764686,-2.097587
lose_rank,-8.710392,19.349653,-43.305304,381.309329,457.475397,-62.085709,-102.939143,-0.911191,222.764686,661.545780,-1.536684
day_code,-0.127052,0.278914,-0.049183,-2.116857,-1.345151,0.967447,1.869789,0.007955,-2.097587,-1.536684,0.444541

In [32]:
points = df['Pts']

In [33]:
points1 = df['Pts.1']

In [34]:
print(statistics.stdev(points))
print(statistics.stdev(points1))

12.366672953018822
10.38165519179077

In [35]:
print(points.mean())
print(points1.mean())

36.554621848739494
18.110644257703083

In [36]:
 12.366672953018822 * 2

24.733345906037645

In [37]:
36.554621848739494 + 24.733345906037645

61.28796775477714

In [38]:
36.554621848739494 - 24.733345906037645

11.821275942701849

In [39]:
for index, row in df.iterrows():
    if(int(row["Pts"]) > 61 or int(row["Pts"]) < 12):
        df.drop(index, inplace=True)

In [40]:
df.shape

(680, 17)

In [41]:
df.head()

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,minutes,hours
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5,00,19
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,5,00,17
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,5,00,16
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,5,00,22
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,5,30,15

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 680 entries, 0 to 713
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Wk              680 non-null    int64
 1   Winner          680 non-null    object
 2   Pts             680 non-null    int64
 3   Loser           680 non-null    object
 4   Pts.1           680 non-null    int64
 5   winners         680 non-null    object
 6   losers          680 non-null    object
 7   home_rank       680 non-null    int64
 8   away_rank       680 non-null    int64
 9   home_team_code  680 non-null    int64
 10  away_team_code  680 non-null    int64
 11  home_results    680 non-null    int64
 12  win_rank        680 non-null    int64
 13  lose_rank       680 non-null    int64
 14  day_code        680 non-null    int64
 15  minutes         680 non-null    object
 16  hours           680 non-null    object
dtypes: int64(11), object(6)
memory usage: 95.6+ KB

In [43]:
hr = df['hours']
hour = []

for i in hr:
    i = int(i)
    hour.append(i)

In [44]:
df['hours'] = hour

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 680 entries, 0 to 713
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Wk              680 non-null    int64
 1   Winner          680 non-null    object
 2   Pts             680 non-null    int64
 3   Loser           680 non-null    object
 4   Pts.1           680 non-null    int64
 5   winners         680 non-null    object
 6   losers          680 non-null    object
 7   home_rank       680 non-null    int64
 8   away_rank       680 non-null    int64
 9   home_team_code  680 non-null    int64
 10  away_team_code  680 non-null    int64
 11  home_results    680 non-null    int64
 12  win_rank        680 non-null    int64
 13  lose_rank       680 non-null    int64
 14  day_code        680 non-null    int64
 15  minutes         680 non-null    object
 16  hours           680 non-null    int64
dtypes: int64(12), object(5)
memory usage: 95.6+ KB

In [46]:
df['minutes'].value_counts()

00    411
30    264
45      3
15      2
Name: minutes, dtype: int64

In [47]:
mins = df['minutes']
null = []
half = []
quart = []
three_quart = []

for i in mins:
    if (i == '00'):
        null.append(1)
        half.append(0)
        quart.append(0)
        three_quart.append(0)
    elif(i == '30'):
        null.append(0)
        half.append(1)
        quart.append(0)
        three_quart.append(0)
    elif(i == '45'):
        null.append(0)
        half.append(0)
        quart.append(1)
        three_quart.append(0)
    elif(i == '15'):
        null.append(0)
        half.append(0)
        quart.append(0)
        three_quart.append(1)

In [48]:
len(null)

680

In [49]:
df.shape

(680, 17)

In [50]:
df2 =df.copy()

In [51]:
df2['null'] = null
df2['half'] = half
df2['quart'] = quart
df2['three_quart'] = three_quart

In [52]:
df2.shape

(680, 21)

In [53]:
df2

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,...,home_results,win_rank,lose_rank,day_code,minutes,hours,null,half,quart,three_quart
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,...,0,99,99,5,00,19,1,0,0,0
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,...,0,99,99,5,00,17,1,0,0,0
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,...,0,99,99,5,00,16,1,0,0,0
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,...,1,99,99,5,00,22,1,0,0,0
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,...,0,99,99,5,30,15,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,(24) Washington,37,(6) Oregon,34,Washington,Oregon,6,24,88,...,1,24,6,5,00,19,1,0,0,0
710,12,Washington State,28,Arizona State,18,Washington State,Arizona State,99,99,126,...,0,99,99,5,30,15,0,1,0,0
711,12,West Virginia,23,Oklahoma,20,West Virginia,Oklahoma,99,99,127,...,0,99,99,5,00,12,1,0,0,0
712,12,Western Kentucky,45,Rice,10,Western Kentucky,Rice,99,99,128,...,0,99,99,5,00,14,1,0,0,0
713,12,Wyoming,14,Colorado State,13,Wyoming,Colorado State,99,99,26,...,1,99,99,5,00,19,1,0,0,0

In [54]:
df2 = df2.drop(columns=['minutes'])

## getting nan for last severl one hot encoded columns / fix in excel

In [55]:
df2

,Wk,Winner,Pts,Loser,Pts.1,winners,losers,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code,hours,null,half,quart,three_quart
0,1,Florida Atlantic,43,Charlotte,13,Florida Atlantic,Charlotte,99,99,32,37,0,99,99,5,19,1,0,0,0
1,1,Florida State,47,Duquesne,7,Florida State,Duquesne,99,99,34,49,0,99,99,5,17,1,0,0,0
2,1,Illinois,38,Wyoming,6,Illinois,Wyoming,99,99,42,221,0,99,99,5,16,1,0,0,0
3,1,Nevada,23,New Mexico State,12,Nevada,New Mexico State,99,99,76,121,1,99,99,5,22,1,0,0,0
4,1,Nevada-Las Vegas,52,Idaho State,21,Nevada-Las Vegas,Idaho State,99,99,74,76,0,99,99,5,15,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,12,(24) Washington,37,(6) Oregon,34,Washington,Oregon,6,24,88,210,1,24,6,5,19,1,0,0,0
710,12,Washington State,28,Arizona State,18,Washington State,Arizona State,99,99,126,11,0,99,99,5,15,0,1,0,0
711,12,West Virginia,23,Oklahoma,20,West Virginia,Oklahoma,99,99,127,143,0,99,99,5,12,1,0,0,0
712,12,Western Kentucky,45,Rice,10,Western Kentucky,Rice,99,99,128,153,0,99,99,5,14,1,0,0,0
713,12,Wyoming,14,Colorado State,13,Wyoming,Colorado State,99,99,26,221,1,99,99,5,19,1,0,0,0

In [57]:
# df2.to_csv('encoded_df.csv', index=False)