In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error

from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score

In [2]:
df = pd.read_csv('wk11_moreinfo.csv')

In [3]:
df

,Wk,Time,Winner,Pts,Loser,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,dates,day_code
0,1,7:00 PM,Florida Atlantic,43,Charlotte,13,99,99,136,117,0,99,99,2022-08-27,5
1,1,5:00 PM,Florida State,47,Duquesne,7,99,99,138,128,0,99,99,2022-08-27,5
2,1,4:00 PM,Illinois,38,Wyoming,6,99,99,145,289,0,99,99,2022-08-27,5
3,1,10:00 PM,Nevada,23,New Mexico State,12,99,99,176,197,1,99,99,2022-08-27,5
4,1,3:30 PM,Nevada-Las Vegas,52,Idaho State,21,99,99,174,154,0,99,99,2022-08-27,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,11,7:30 PM,(12) Utah,45,Arizona,20,99,99,12,90,0,99,99,2022-11-05,5
645,11,3:30 PM,Utah State,27,New Mexico,10,99,99,215,200,0,99,99,2022-11-05,5
646,11,3:30 PM,Washington State,52,Stanford,14,99,99,199,279,1,99,99,2022-11-05,5
647,11,12:00 PM,Western Kentucky,59,Charlotte,7,99,99,126,284,1,99,99,2022-11-05,5
648,11,12:00 PM,Wisconsin,23,Maryland,10,99,99,224,180,0,99,99,2022-11-05,5

In [4]:
df = df.drop(columns=['Time', 'Winner', 'Loser', 'dates'])

In [5]:
df

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,13,99,99,136,117,0,99,99,5
1,1,47,7,99,99,138,128,0,99,99,5
2,1,38,6,99,99,145,289,0,99,99,5
3,1,23,12,99,99,176,197,1,99,99,5
4,1,52,21,99,99,174,154,0,99,99,5
...,...,...,...,...,...,...,...,...,...,...,...
644,11,45,20,99,99,12,90,0,99,99,5
645,11,27,10,99,99,215,200,0,99,99,5
646,11,52,14,99,99,199,279,1,99,99,5
647,11,59,7,99,99,126,284,1,99,99,5
648,11,23,10,99,99,224,180,0,99,99,5

In [6]:
# df = df.drop(columns=['Pts.1'])

In [7]:
y = df['Pts.1']
X = df.drop(columns=['Pts.1'])

X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.30, random_state=2)

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [9]:
regr = RandomForestRegressor(max_depth=500, random_state=0)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=500, random_state=0)

In [10]:
test_pred = regr.predict(X_test)

print('RMSE: '+str(np.sqrt(mean_squared_error(y_test, test_pred))))
print('R Squared: '+str(r2_score(y_test, test_pred)))
print('MSE TEST: '+str(mean_squared_error(y_test, test_pred)))
print('MAE TEST: '+str(mean_absolute_error(y_test, test_pred)))
print('MAPE: '+str(mean_absolute_percentage_error(y_test, test_pred)))

RMSE: 10.359420412457991
R Squared: 0.07023123090109895
MSE TEST: 107.31759128205128
MAE TEST: 7.624153846153846
MAPE: 3240744101090400.5

In [11]:
# MAPE: 0.3155694978397048

In [12]:
data = {'y_test': y_test, 'y_pred': test_pred}
new_df = pd.DataFrame(data)
diff = (new_df['y_test'] - new_df['y_pred']).abs()
new_df['diff'] = diff
new_df = new_df.sort_values(by='diff', ascending=True)
new_df

     y_test  y_pred   diff
52       10   10.01   0.01
141      12   12.01   0.01
333      14   13.92   0.08
576      24   23.87   0.13
265      23   23.13   0.13
..      ...     ...    ...
569       0   24.11  24.11
108      57   19.06  37.94
20       44    5.65  38.35
288      52   12.86  39.14
67       61   18.22  42.78

[195 rows x 3 columns]

In [13]:
predvals = new_df['y_pred']

In [14]:
max_num = 0

for i in predvals:
    if (i > max_num):
        max_num = i
    else: 
        continue;

In [15]:
min_num = 100

for i in predvals:
    if (i < max_num):
        min_num = i
    else: 
        continue;

In [16]:
print(min_num)
print(max_num)

18.22
31.37

A MAPE less than 5% is considered as an indication that the forecast is acceptably accurate. A MAPE greater than 10% but less than 25% indicates low, but acceptable accuracy and MAPE greater than 25% very low accuracy, so low that the forecast is not acceptable in terms of its accuracy.

In [17]:
df.head()

,Wk,Pts,Pts.1,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,1,43,13,99,99,136,117,0,99,99,5
1,1,47,7,99,99,138,128,0,99,99,5
2,1,38,6,99,99,145,289,0,99,99,5
3,1,23,12,99,99,176,197,1,99,99,5
4,1,52,21,99,99,174,154,0,99,99,5

In [18]:
# la = [[12, 40, 99, 7, 112, 174, 0, 99, 7, 5]]
# lsu = pd.DataFrame(la, columns=['Wk', 'Pts', 'home_rank', 'away_rank', 
#                                 'home_team_code', 'away_team_code', 
#                                 'home_results', 'win_rank', 'lose_rank', 'day_code'])
# lsu

la = [[12, 34, 99, 7, 112, 174, 1, 7, 99, 5]]
lsu = pd.DataFrame(la, columns=['Wk', 'Pts', 'home_rank', 'away_rank', 
                                'home_team_code', 'away_team_code', 
                                'home_results', 'win_rank', 'lose_rank', 'day_code'])
lsu

,Wk,Pts,home_rank,away_rank,home_team_code,away_team_code,home_results,win_rank,lose_rank,day_code
0,12,34,99,7,112,174,1,7,99,5

In [19]:
regr.predict(lsu)

array([24.26])

## arkansas wins
arkansas scores 39.62
lsu scores 26.12

## lsu wins
lsu 33.73
arkansas 24.26

### Results:
#### Lsu 13
#### Arkansas 10