In [76]:
import numpy as np 
import pandas as pd

In [77]:
df = pd.concat(map(pd.read_csv, ['Brazil.csv', 'germany.csv','germany1.csv', 
                                 'Portugal1.csv', 'Spain1.csv', 'Switzerland.csv',
                                'Switzerland1.csv', 'France1.csv',
                                'Brazil1.csv', 'Netherlands.csv', 
                                'Belgium.csv',  'England.csv',
                                'Argentina.csv', 'Uruguay.csv', 
                                'Senegal.csv', 'Ecuador.csv', 'CostaRica.csv',
                                'Mexico.csv', 'France.csv', 'Denmark.csv',
                                'Australia.csv', 'Serbia.csv',
                                'Cameroon.csv', 'Ghana.csv', 'Iran.csv',
                                'Poland.csv', 'SaudI.csv', 'Tunisia.csv', 
                                 'Japan.csv', 'Croatia.csv', 'Morocco.csv',
                                 'Spain2.csv', 'Portugal2.csv', 
                                 'England2.csv', 'Belgium2.csv', 'Uruguay2.csv',
                                'Canada2.csv', 'Netherlands2.csv', 'Saudi2.csv', 
                                'Croatia2.csv', 'Cameroon2.csv', 'Denmark2.csv',
                                'Costa2.csv', 'Morocco2.csv', 'Poland2.csv',
                                'Tunisia2.csv', 'Japan2.csv', 'Argentina2.csv', 
                                'Slovakia.csv', 'Iraq.csv', 'Jamaica.csv',
                                'Kuwait.csv', 'ElSalvador.csv', 'China.csv',
                                'Turkey.csv', 'Ukraine.csv', 'Bolivia.csv',
                                 'Togo.csv', 'Angola.csv', 
                                  'Italy.csv', 'Paraguay.csv', 
                                 'Russia.csv', 'CzechRepublic.csv',
                                'Algeria.csv', 'Chile.csv', 'Yugoslavia.csv',
                                'Scotland.csv', 'Romania.csv', 'Greece.csv',
                                'Honduras.csv', 'Austria.csv', 'Bulgaria.csv', 
                                 'IvoryCoast.csv', 'SouthAfrica.csv', 'RepIreland.csv',
                                'Slovenia.csv', 'Czechoslovakia.csv', 'Hungary.csv', 
                                'Egypt.csv', 'Norway.csv', 'Peru.csv',
                                'NewZealand.csv', 'Bosnia.csv', 'Panama.csv','UAE.csv',
                                'Iceland.csv', 'USA.csv', 'USA1.csv',  'Nigeria.csv',
                                 'Colombia.csv', 'Sweden.csv', 'SouthKorea.csv',
                                'Mexico9.csv', 'NorthernIreland.csv', 'Mexico86.csv',
                                'Micellaneous06.csv', 'Japan2Misc.csv']))

In [78]:
# 158 with wc 2022 teams

In [79]:
df.shape

(283, 18)

In [80]:
df.duplicated().value_counts()

False    281
True       2
dtype: int64

In [81]:
df = df.drop_duplicates()

In [82]:
df.shape

(281, 18)

# convert to csv

In [83]:
df = df.rename(columns={"Unnamed: 0": "country", "goals_z": "goals"})

In [84]:
df.columns = df.columns.str.lower().str.replace('_z', '')
string_columns = list(df.dtypes[df.dtypes == 'object'].index)

for col in string_columns:
    df[col] = df[col].str.lower().str.replace('_z', '')

In [85]:
df

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results
0,brazil98,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2
1,brazil94,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1
2,brazil90,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9
3,brazil86,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5
4,brazil82,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,mexico06,0.246154,0.241538,0.335385,0.161538,0.351538,0.333077,0.233077,0.671538,0.102308,0.031538,-0.155385,-0.318462,-0.123846,0.070000,0.374615,0.453077,15
1,trinidadtobago06,-0.420000,-0.440769,0.018462,-0.424615,-0.495385,-0.239231,0.067692,0.044615,-0.490769,-0.369231,0.765385,-0.027692,-0.208462,-0.096923,-0.110000,-0.241538,27
3,costarica06,0.157692,-0.186923,0.221538,0.010769,0.264615,0.141538,0.155385,-0.065385,0.109231,-0.039231,0.004615,-0.043846,-0.056923,-0.192308,0.250000,0.105385,31
0,japan10,0.091538,-0.202308,-0.023077,-0.072308,-0.277692,-0.074615,-0.165385,-0.296923,-0.473846,-0.514615,0.210769,-0.126154,0.218462,0.264615,0.889231,-0.255385,9
1,japan18,0.373846,0.119231,-0.105385,-0.072308,-0.012308,-0.359231,-0.240769,-0.116154,0.253846,-0.034615,-0.258462,0.244615,-0.196154,-0.266154,0.068462,-0.086923,15

In [86]:
countriez = df['country']

In [87]:
years = []
for i in countriez:
    years.append(int(i[-2] + i[-1]))

In [88]:
df['year'] = years

In [89]:
countz = df['country']

In [90]:
counties = []
for i in countz:
    counties.append(str(i[:-2]))

In [91]:
df['country'] = counties

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 281 entries, 0 to 1
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   country        281 non-null    object
 1   goals          281 non-null    float64
 2   xg             281 non-null    float64
 3   crosses        281 non-null    float64
 4   boxtouches     281 non-null    float64
 5   passes         281 non-null    float64
 6   progpasses     281 non-null    float64
 7   takeons        281 non-null    float64
 8   progruns       281 non-null    float64
 9   tackles        281 non-null    float64
 10  interceptions  281 non-null    float64
 11  clearances     281 non-null    float64
 12  blocks         281 non-null    float64
 13  aerials        281 non-null    float64
 14  fouls          281 non-null    float64
 15  fouled         281 non-null    float64
 16  nsxg           281 non-null    float64
 17  results        281 non-null    int64
 18  year           281 non-null    int64
dtypes: float64(16), int64(2), object(1)
memory usage: 43.9+ KB

In [93]:
df

,country,goals,xg,crosses,boxtouches,passes,progpasses,takeons,progruns,tackles,interceptions,clearances,blocks,aerials,fouls,fouled,nsxg,results,year
0,brazil,0.423077,0.146923,-0.136154,-0.030000,0.429231,0.037692,0.244615,-0.220000,0.216154,0.270000,-0.076923,-0.097692,-0.020000,-0.224615,0.100769,-0.124615,2,98
1,brazil,0.216923,0.348462,0.031538,0.158462,0.835385,0.626923,0.270000,0.266923,1.143846,0.834615,-0.059231,-0.134615,0.196923,-0.016923,0.033846,0.146923,1,94
2,brazil,0.113846,0.392308,0.599231,0.513846,0.833077,0.405385,0.521538,1.139231,1.109231,0.859231,0.084615,0.103077,0.683846,0.213846,0.353846,0.786923,9,90
3,brazil,0.479231,0.609231,0.227692,0.450769,0.770769,0.042308,0.337692,0.927692,0.506923,1.015385,0.020769,0.381538,0.038462,0.039231,0.022308,0.692308,5,86
4,brazil,0.877692,0.773846,0.428462,0.659231,0.754615,0.335385,0.023077,0.638462,0.493846,0.637692,-0.117692,-0.033846,0.572308,-0.016154,-0.096923,0.890769,5,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,mexico,0.246154,0.241538,0.335385,0.161538,0.351538,0.333077,0.233077,0.671538,0.102308,0.031538,-0.155385,-0.318462,-0.123846,0.070000,0.374615,0.453077,15,6
1,trinidadtobago,-0.420000,-0.440769,0.018462,-0.424615,-0.495385,-0.239231,0.067692,0.044615,-0.490769,-0.369231,0.765385,-0.027692,-0.208462,-0.096923,-0.110000,-0.241538,27,6
3,costarica,0.157692,-0.186923,0.221538,0.010769,0.264615,0.141538,0.155385,-0.065385,0.109231,-0.039231,0.004615,-0.043846,-0.056923,-0.192308,0.250000,0.105385,31,6
0,japan,0.091538,-0.202308,-0.023077,-0.072308,-0.277692,-0.074615,-0.165385,-0.296923,-0.473846,-0.514615,0.210769,-0.126154,0.218462,0.264615,0.889231,-0.255385,9,10
1,japan,0.373846,0.119231,-0.105385,-0.072308,-0.012308,-0.359231,-0.240769,-0.116154,0.253846,-0.034615,-0.258462,0.244615,-0.196154,-0.266154,0.068462,-0.086923,15,18

In [94]:
df.shape

(281, 19)

In [95]:
((4 * 24) + (6 * 32) - 279)

9

In [96]:
df[df['country'] == "Togo"]

Empty DataFrame
Columns: [country, goals, xg, crosses, boxtouches, passes, progpasses, takeons, progruns, tackles, interceptions, clearances, blocks, aerials, fouls, fouled, nsxg, results, year]
Index: []

In [97]:
df = df.sort_values('results')

In [98]:
df.to_csv('./WC Data Models/WC-final.csv')